.chat-group-form
  %h1 新規チャットグループ
  = render 'form', { group: @group }
  <%= form_for @group do |f| %>
    <%= f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  <% end %>