.sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  float: left;
  color: $white;
  text-align: left;

  .header {
    height: 100px;
    background-color: $deepblue;
    padding: 0 20px;
    line-height: 100px;

    &__name {
      display: inline-block;
      font-size: $side_header;
      font-weight: bold;
    }

    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: 16px;
      }
    }
  }


  .groups {
    height: calc(100vh - 100px);
    background-color: $sidelightblue;
    padding: 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;

      &__name {
      font-size: $group_name;
      margin: 20px 0 5px;
      }

      &__message {
      font-size: $group_latest;
      margin-bottom: 40px;
      }
    }
  }
}